@using Reidm.Web.Stores
@using Reidm.Application.Buildings.Queries
@inherits BlazorState.BlazorStateComponent
@inject IDialogService DialogService;


<MudPaper Width="300px" Style="Position: relative;">
    <MudNavMenu>
        @foreach (var item in State.BuildingsToStudy)
        {
            <MudNavLink Href="@("/building/" + item.Key)" Icon="@Icons.Filled.OtherHouses">
                <div class="grid grid-rows-2">
                    <MudText Typo="Typo.body1" Align="Align.Left" Style="font-weight: bold">@item.Value.BuildingLabel</MudText>
                    <div class="flex space-x-20">
                        <MudText Typo="Typo.body2">@item.Value.SellingPrice €</MudText>
                        <MudText Typo="Typo.body2">@item.Value.Surface m²</MudText>
                    </div>
                    
                </div>
            </MudNavLink>
            <MudDivider/>
        }
    </MudNavMenu>

</MudPaper>
<MudFab Class="absolute top-50 right-0" Color="Color.Primary" Icon="@Icons.Material.Filled.Add" aria-label="add" Size="Size.Small" OnClick="DoubleClick"/>


@code {

    private GlobalState State => GetState<GlobalState>();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Mediator.Send(new GlobalState.GetAllBuildingToStudy());
        }
        base.OnAfterRender(firstRender);
    }

    private void DoubleClick() {
        DialogService.Show<DialogAddBuilding>("Ajouter un immeuble à étuder",  new DialogOptions() { DisableBackdropClick = true, CloseButton = true});
    }
}